/* General */
$fontSize:14px;
$fontfamily: Poppins,sans-serif;
$borderRadius:12px;
$transitionDuration:.2s;
$colorLegenda: rgb(126, 123, 159); 
$wheitLegend: 500;
$fontBanner: "Gagalin", sans-serif;
$bg-red-custom: #ff1744;
$bg-redLight-custom: #f50057;
$bg-purple-custom: #d500f9;
$bg-yellow-custom: rgb(255, 234, 0);
$bg-green-custom: #1de9b6;
$bg-cianes-custom: #00e5ff;
$bg-black-custom: #000;
$bg-blue-custom: #6C63FF;
$bg-orange-custom: #ff9100;
$color-primary-white: #11101d; //fonte de texto primaria
$color-secundary-white: #000; //fonte de texto secundaria
$color-primary-black: #11101d; //fonte de texto primaria
$color-secundary-black: #000; //fonte de texto secundaria
$bg-primary-white: #11101d; //cor de fundo branca
$bg-primary-black: #000; // cor de fundo invertida
$white-color: #fff;
$white: #fff;
$black: #fff;





